[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
pygments = "*"
sphinx = "*"
black = "*"
m2r  = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
optproblems = "*"
pygmo = "*"
scipy = "*"
tqdm = "*"
diversipy = "*"
pyDOE = "*"
ipython = "*"
ipykernel = "*"
ipywidgets = "*"
jupyter = "*"
plotly = "*"

[requires]
python_version = "3.7"


[pipenv]
allow_prereleases = true
