[tool.poetry]
name = "pyRVEA"
version = "0.1.0"
description = "The python version reference vector guided evolutionary algorithm."
authors = ["Bhupinder Saini"]
license = "MPL-2.0"

[tool.poetry.dependencies]
python = "^3.6"
numpy = "^1.16"
pandas = "^0.24.2"
optproblems = "^1.2"
pygmo = "^2.10"
scipy = "^1.2"
diversipy = "^0.8.0"
pyDOE = "^0.3.8"
plotly = "^3.8"
tqdm = "^4.31"

[tool.poetry.dev-dependencies]
flake8 = "^3.7"
black = {version = "^18.3-alpha.0",allows-prereleases = true}
sphinx = "^2.0"
recommonmark = "^0.5.0"
sphinx_rtd_theme = "^0.4.3"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

