appdirs==1.4.3
attrs==18.2.0
backcall==0.1.0
black==18.9b0
Click==7.0
cloudpickle==0.6.1
cycler==0.10.0
decorator==4.3.0
diversipy==0.8
flake8==3.6.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
kiwisolver==1.0.1
matplotlib==3.0.2
mccabe==0.6.1
numpy==1.15.4
optproblems==1.2
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycodestyle==2.4.0
pydocstyle==3.0.0
pyDOE==0.3.8
pyflakes==2.0.0
Pygments==2.3.1
pygmo==2.9
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
scipy==1.2.0
six==1.12.0
snowballstemmer==1.2.1
toml==0.10.0
tqdm==4.28.1
traitlets==4.3.2
v==4.0.0
wcwidth==0.1.7
